*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

h1{
    color: white;
    display: inline;
}

a{
    color:white;
    text-decoration: none;
}

header{
    background-color: #1F3A8A;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

header nav a{
    padding: 10px;
}

main{
    height: 82vh;
    background-color: #F8F9FD;
}

footer{
    height: 9vh;
    background-color: #1F3A8A;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* HERO */
.Hero{
    background:linear-gradient(to right,rgba(0,0,0,0.8),rgba(0,0,0,0.5)),url(../IMG/escritorio-de-oficina-a1yivbaxal92jim2.jpg) no-repeat center/cover;
    color: white;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Hero-titulo{
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 10px;
}

/* DATOS */
.Dato{
    background-color: #FDFDFB;
    height: 20%;
}
